<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page!</title>
</head>
<body>
    <h2>Users Index Page!! Welcome!!</h2>

    <table id="users-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type="br.com.datarich.investor.models.User"*/-->
            <tr th:each="user : ${users}">
                <td th:text="${user?.id}">1</td>
                <td th:text="${user?.name}">2</td>
                <td th:text="${user?.surname}">3</td>
                <td th:text="${user?.email}">4</td>
                <td th:text="${user?.phone}">5</td>
            </tr>
        </tbody>
    </table>
</body>
</html>